[Desktop Entry]
Name=Orizon Dark
Comment=ORIZON Linux System - Dark Space Theme
Keywords=orizon,dark,space,linux

X-KDE-PluginInfo-Name=com.orizon.orizon-dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://orizon-linux.org
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
